<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Post-load prompt popup</title>
	</head>
	<body>
		<!-- test_runner_no_wrapper -->
		{% if post_vars %}
			<div class="jframe_padded">
				You submitted the following values:
				<ul>
					{% for post_var, val in post_vars %}
					 <li>{{post_var}}: {{val}}</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
		<div class="prompt_popup">
				I'm a post-load prompt. Enter a value please.
				<form action="/test/?project=jframe&path=/JWindow_Tests/post-load.prompt.popup.html" method="post" style="margin: 6px 0px 0px;">
					<input type="text" name="prompt_value"/>
					<input type="submit" class="jframe-hidden" name="submit"/>
				</form>
		</div>
		{% endif %}
	</body>
</html>
